  macro-carousel {
    height: 300px;
  }

  .slide {
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to bottom right, #f0f0f0, #c0c0c0);
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, .05);

    color: white;
    font-size: 5em;
    font-family: sans-serif;
  }
